.header{
    text-align: center;
    color: blue;
    padding: 10px;
    text-decoration:underline;
}
.widget-card{
    min-height: 250px;
    border: 2px solid #ccc;
}
.bold{
    font-weight: bold;
}
.padding{
    padding: 10px;
}