.float-right{
    float:right;
}
.inline{
    display : inline-flex;
}
.header{
    text-align: center;
    color: blue;
    padding: 10px;
    text-decoration:underline;
}
.widget-card{
    min-height: 250px;
    border: 2px solid #ccc;
}